<!-- フラッシュメッセージ -->
<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %> text-emerald-400">
    <%= message %>
</div>
<% end %>
<div class="font-light text-xl text-slate-50 ">
    codechecker % Ruby/SQLの問題をAIが毎日1問生成し、<br>
    codechecker % 解答・結果比較ができる学習アプリ
</div>

